*,
*::after,
*::before {
    box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #646464;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
    font-weight: 500;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 48px;   
}

h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #646464;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 140px 0px;
}

.container {
    width: 100%;
    max-width: 1345px;
    margin: 0 auto;
    padding: 0px 15px ;
}

.btn {
    color: #fff;
    background-color: #37806B;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 20px 0px;
    cursor: pointer;
    padding: 15px 18px;
    transition: all 0.4s;
}

.btn:hover {
    border-radius: 0px 20px;
    background-color: #0a5742;
}

.content-img {
    position: relative;
}

.content-img:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 140px 0px;
    border: 2px solid #B0855B;
    left: 30px;
    top: 30px;
    z-index: -1;
}

.content-img--left {
    position: relative;
}

.content-img--left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 140px 0px;
    border: 2px solid #B0855B;
    right: 30px;
    top: -30px;
    z-index: -1;
}

.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  
  .menu__btn {
    display: flex; 
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: 0.3s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: 0.3s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
  }

  .menu__item img {
    border-radius: 0px;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__content {
    display: flex;
}

.header__logo {
    margin-top: 34px;
    width: 190px;
}

.header__logo img {
    border-radius: 0px;
}

.header-menu__item {
    display: inline-block;
}

.header-menu__link {
    display: block;
    position: relative;
    color: #212121;
    font-size: 16px;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

.header-menu__link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    background-color: #212121;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
    transform-origin: 100% 50%;
}

.header-menu__link:hover::before {
    transform: scale3d(1,1,1);
    transform-origin: 0 50%;
}

.header__menu li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}

.header__menu li + li {
    margin-left: 30px;
}

.header__btn {
    display: block;
    padding: 0px 19px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 43px;
    margin-left: 64px;
    text-decoration: none;
    color: #fff;
    background-color: #CAA892;
    border-radius: 15px 0px;
    border: none;
    height: 32px;
    transition: all 0.4s;
    cursor: pointer;
}

.header__btn:hover {
    border-radius: 0px 15px;
    background-color: #ca9a7a;
}

.container-interior {
    width: 100%;
    max-width: 1367px;
    margin: 0 auto;
    padding: 0px 15px;
}

.interior {
    position: relative;
}

.interior::before {
    position: absolute;
    content:"";
    background-repeat: no-repeat;
    background-image: url(Decbase\ images/decor-section.svg);
    width: 213px;
    height: 154px;
    left: 0px;
    bottom: -77px;
}

.interior__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interior__img {
    margin-top: 55px;
    width: 717px;
    height: 626px;
    margin-left: 32px;
}


.interior-content__title {
    margin-top: 12px;
    max-width: 552px;
}

.interior-content__text {
    margin-top: 23px;
    max-width: 618px;
    line-height: 30px;
}

.interior-content__btn {
    margin-top: 43px;
}

.our-container {
    max-width: 1390px;
    margin: 0px auto;
}

.our-service__top {
    margin-top: 247px;
}

.our-service__title {
    margin-top: 6px;
    position: relative;
}

.our-service__container {
    width: 100%;
    max-width: 1449px;
    margin: 0px auto;
    padding: 37px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.content-card {
    min-width: 435px;
    min-height: 198px;
    border-radius: 60px 0px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
    transition: .4s all ease;
}

.content-card:hover {
    background-color: #CAA892;
    color: #fff;
}

.content-card:hover .our-service__svg {
    fill: #fff;
}

.content-card:hover .our-service-content__card-title {
    color: #fff;
}

.our-service-content__card-text {
    margin-top: 15px;
    padding-left: 95px;
}

.our-service-content__card-title {
    padding-left: 95px;
}

.our-service__svg {
    display: inline;
    width: 40px;
    height: 40px;
    margin-left: 45px;
    position: relative;
    top: 45px;
}

.content-card:hover .our-service__svg path {
    stroke: #fff;
}

.our-service-content__card-title {
    position: relative;
}

.sldier {
    width: 100%;
    height: 100%;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
}

.slick-arrow {
    position: absolute;
    font-size: 0px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #fff;
    box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.30);
    transition: .4s all ease;
    cursor: pointer;

}

.our-service .slick-next {
    right: 10px ;
    top: -52px;

}

.our-service .slick-prev {
    right: 55px;
    top: -52px;
}

.slick-arrow:hover {
    background-color: #37806B;
}

.slick-next {
    top: -70px;
    right: 10px;
}

.slick-next:before {
        content: '';
        width: 8px;
        height: 8px;
        border-left: 2px solid #444;
        border-bottom: 2px solid #444;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -4px;
        transform: rotate(-135deg);
}

.slick-next:hover::before {
    border-color: #fff;
}

.slick-prev {
    top: -70px;
    right: 60px;
    z-index: 1;
}
.slick-prev:before {
    content: '';
    width: 8px;
    height: 8px;
    border-left: 2px solid #444;
    border-bottom: 2px solid #444;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    transform: rotate(45deg);

}

.slick-prev:hover:before {
    border-color: white;
}

.container__about {
    width: 100%;
    max-width: 1357px;
    margin: 0 auto;
    padding: 0px 15px;
}

.about {
    position: relative;
}

.about::before {
    position: absolute;
    content:"";
    background-repeat: no-repeat;
    background-image: url(Decbase\ images/decor-section.svg);
    width: 213px;
    height: 154px;
    left: 0px;
    bottom: calc( 50% - 230px);
}

.about__top {
    display: flex;
    justify-content: space-between;
}

.about-top__content {
    max-width: 544px;
    margin-top: 294px;
}

.about-top__img {
    position: relative;
    margin-top: 236px;
}


.about-top-content__pretitle {
    line-height: 30px;
}

.about-top-content__title {
    margin-top: 6px;
    font-weight: 500;
}

.about-top-content__text {
    margin-top: 22px;
    line-height: 30px;
}

.about-top-content__btn {
    margin-top: 46px;
}

.about__row {
    display: flex;
    justify-content: space-between;
}

.about-row__content {
    max-width: 530px;
    margin-top: 300px;
}

.about-row__years {
    font-family: 'Open Sans', sans-serif;
    font-size: 288px;
    font-weight: 700;
    line-height: 1;
    background: url(Decbase\ images/about-row-years.jpeg);
    background-size: cover;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
}

.about-row__img {
    margin-top: 224px;
}

.about-row-content__title {
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 65px;
    font-weight: 500;
}

.about-row-content__btn {
    margin-top: 35px;
}

.completed {
    margin-top: 207px;
    background-color: #F8F8F8;
    height: 680px;
}

.completed__inner {
    text-align: center;
}

.completed__title {
    padding-top: 87px;
    max-width: 817px;
    margin: 0px auto;
    line-height: 60px;
}

.completed__box {
    display: flex;
    justify-content: center;
}

.completed-card {
    width: 185px;
    height: 182px;
    background-color: #fff;
    border-radius: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.completed__card {
    margin-top: 87px;
}

.completed__card::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 100px;
    height: 96px;
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
}

.completed__card:nth-child(2)::after {
    top: 0%;
    border-top: none;
    border-bottom: 2px solid #E0E0E0;
}

.completed__card:nth-child(2)::before {
    top: 0px;
}

.completed__card:last-child::before {
    display: none;
}

.completed__card:last-child::after {
    display: none;
}

.completed__card::before {
    content: "";
    position: absolute;
    top: calc(50% + 96px);
    left: calc(100% + 98px);
    height: 2px;
    width: 100px;
    background-color: #E0E0E0;
}

.completed__card + .completed__card { 
    margin-left: 200px;
}

.completed__card:nth-child(2n) {
    margin-top: 183px;
}

.completed-card__title {
    font-size: 50px;
}

.completed-card__subtitle {
    font-weight: 600;
}

.reviews {
    margin-top: 163px;
}

.reviews .slick-prev {
    top: -90px;
    right: 80px
}

.reviews .slick-next {
    top: -90px;
    right: 35px;
}

.reviews__container {
    width: calc(1343px + 60px) ;
    margin: 0px auto;
}

.reviews__pretitle {
    width: 100%;
    text-align: center;
}

.reviews__title {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.slick-initialized .slick-slide .reviews__box {
    display: flex;
    justify-content: none;
}

.reviews-card {
    min-width: 610px;
    min-height: 240px;
    border-radius: 70px 0px;
    background-color: #fff;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    margin: 0px 40px;
}

.reviews__card {
    display: flex;
    background-image: url(Decbase\ images/reviews-span-after.png);
    background-repeat: no-repeat; 
    background-position: top 37px right 38px;
}

.reviews-card__title {
    margin-top: 50px;
    padding-left: 37px;
    position: relative;
}

.reviews h4 {
    text-align: center;
}

.reviews-card__title span {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #646464;
}

.reviews-card__img {
    margin-top: 37px;
    margin-left: -61px;
    border-radius: 40px 0px;
}

.reviews-card__img img {
    width: 139px;
    height: 143px;
    border-radius: 40px 0px;
}

.reviews-card__description {
    max-width: 490px;
    padding-left: 37px;
    margin-top: 14px;
}

.reviews-slider {
    margin-top: 92px;
}

.blog {
    margin-top: 183px;
    background-color: #F8F8F8;
}

.blog__pretitle {
    width: 100%;
    text-align: center;
    padding-top: 93px;
}

.blog__title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


.blog__box {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.blog-box__img {
    width: 525px;
    height: 380px;
    position: relative;
    z-index: 0;
}

.blog-box__img::after {
    position: absolute;
    content:"";
    width: 525px;
    height: 380px;
    border-radius: 140px 0px;
    border: 2px solid #B0855B;
    top: 14px;
    left: 20px; 
    z-index:-1;
}

.blog-box__title {
    margin-top: 50px;
    font-size: 30px;
    color: #111;
    font-weight: 600;
}


.blog-box__description {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px
}


.blog-btn {
    display: inline-block;
    padding: 14px 35px;
    margin-bottom: 123px;
}

.record {
    background-color:#fff;
    margin-top: 130px;
    margin-bottom: 200px;
}

.record__inner {
    max-width: 772px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    text-align: center;
}

.record__title {
    margin-top: 200px;
    letter-spacing: 3.84px;
    position: relative;
}

.record__title::after {
    position: absolute;
    content: "";
    width: 461px;
    height: 1px;
    background-color: #C4C4C4;
    left: 150px;
    top: 90px;
}

.record__subtitle {
    font-size: 18px;
    max-width: 607px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
}

.record__form {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 0px 20px 0px 20px;
    transition: all .4s ease;
}

.record__form:has( .record__btn:hover)  {
    border-radius: 20px 0px 20px 0px;
}

.record__input {
    max-width: 592px;
    width: 100%;
    border: none;
    background-color: #eee;
    color: #646464;
    font-size: 18px;
    padding: 17px 27px;
    outline: none;
}

.record__input::placeholder {
    font-size: 18px;
    line-height: 3;
}


.record__btn {
    color: #fff;
    max-width: 180px;
    background-color: #37806B;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.record__btn:hover { 
    background-color: #0a5742;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__description {
    max-width: 350px;
}

.footer__logo img {
    border-radius: 0px;
}

.footer-description__text {
    margin-top: 15px;
}

.footer-list__title {
    margin-bottom: 30px;
}

.footer-list__item {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-list__item a {
    font-weight: 600;
}

.follow-us__img {
    background-color: #D5D5D5;
    transition: .5s;
    display: inline-block;
    padding: 9px 9px 9px 9px;
    width: 37px;
    height: 37px;
    border-radius: 50px;
}

.footer-link {
    transition: 0.2s;
}

.footer-link:hover {
    opacity: 0.6;
}

.follow-us__img:hover {
    background-color: #37806B;
}

.follow-us__img + .follow-us__img {
    margin-left: 8px;
}

.follow-us__img img {
    border-radius: 0px;
    position: relative;
    top: -3px;
}

.footer__row {
    text-align: center;
}

.footer-row__text {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
    border-top: 1px solid #C4C4C4;
    margin-top: 85px;
}


/* slider styles */
  
.our-service-content__wrapper {
    padding: 30px;
}

.our-service__content {
    width: calc(100% + 60px);
    margin-left: -30px;
}

.slick-track {
    overflow: hidden;
}

.reviews__wrapper {
    padding: 50px;
}

.reviews__content {
    width: calc(100% + 60px);
    margin-left: -30px;
}


/* adaptive */

@media (max-width: 1100px) {
    .header__menu li + li {
        margin-left: 20px;
    }
}

@media (max-width: 980px) {
    .header__menu li + li {
        margin-left: 13px;
    }
}

@media (max-width: 900px) {
    .header {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

